<h2>Steps</h2>
<div *ngIf="stepsList.length > 0">

  <div *ngFor="let steps of stepsList" class="progress-card">
    <div class="card">
      <div class="card-content">
        <img src="assets/java-banner.png" alt="Java Course Banner" class="course-banner">
        <div class="course-details">
          <h3>{{ steps.title }}</h3>
          <p>{{ steps.description }}</p>
          <div class="progress-info">
            <div class="progress-bar">
              <div class="progress" style="width: 90%;"></div>
            </div>
    
          </div>
          <p class="duration">{{ steps.duration }} Hour</p>
        </div>
      </div>
    </div>
  </div>
</div>
