<header class="header">
    <div class="search-bar">
      <input type="text" placeholder="Search anything...">
      <button type="button">
        <img src="assets/search-icon.png" alt="Search">
      </button>
    </div>
    <div class="icons">
      <img src="assets/icon1.png" alt="Icon 1">
      <img src="assets/icon2.png" alt="Icon 2">
      <img src="assets/icon3.png" alt="Icon 3">
    </div>
    <div class="profile">
      <img src="assets/profile-avatar.png" alt="Profile Avatar">
      <button type="button" class="dropdown-button">
        <img src="assets/dropdown-icon.png" alt="Dropdown">
      </button>
    </div>
  </header>  